body{
    margin:0;
}
.night-theme-main{
    color:#FF8C42;
}
a, a:visited{
    text-decoration: none;
    color:inherit;
}
.wrapper{
    padding-top:5%;
    background-color: #151515;
}
header{
    position:fixed;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin:0 10px;
    font-size:22px;
   
}
.header__icon{
    margin-left:2%;
    width:25%;
}
.header__icon img{
    height:50px;
}
nav{
    width:70%;
}
nav ul{
    display:flex;
    justify-content: space-between;
    list-style: none;
    margin-right:5%;
    margin-left:25%;
}
li{
    padding:10px 20px;
}
li:hover{
    background-color: #FF8C42;
    color:#151515;
}
.main-wrapper{
    margin-top:5%;
    display:grid;
    grid-template-columns: 1fr 1fr;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding-bottom:14%;
}
main h1{
font-size:5em;
margin-top:5%;
}
main h3{
    font-size:2em;
    margin-top:10%;
}
main button{
    padding:15px 25px;
    font-size:25px;
    background-color: #FF8C42;
    color:wheat;
}
main button:hover{
    background-color:black;
    color:#FF8C42;
}
.main-descr{
    margin-left:10%;
}
.main-image img{
    width:100%;
}
.menu-header{
    text-align: center;
    font-size:3.5em;
    color:white;
    z-index: 1;
}
.menu-wrapper{
    margin-top:5%;
    display:grid;
    grid-template-columns: 1fr 3fr;
}
.menu-image img{
    width:100%;
}
.menu-descr{
    margin-left:25%;
}
.menu-item{
    display:flex;
    justify-content: space-between;
    width:60%;
}
.menu-item h3{
    font-size:2.5em;
    margin:0;
}
.menu-item p{
    font-size:1.2em;
}
.item-price p{
    font-size:1.5em;
}
.build-your-own{
    text-align: center;
}
.build-your-own h4{
    font-size:1.5em;
}
.build-your-own button{
    padding:15px 25px;
    font-size:25px;
    background-color: #FF8C42;
    color:wheat;
}
.build-your-own button:hover{
    background-color:black;
    color:#FF8C42;
}
.build-pizza{
    padding-top:12%;
    padding-bottom:5%;
}
.build-pizza-heading{
    text-align: center;
}
.build-pizza h3{
    font-size:2em;
}
.build-pizza-wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5%;
    width:80%;
    margin:20px 10%;
}
.total{
    margin-top:20px;
    font-size:1.5em;
}
.hidden{
    display:none;
}   
.pizza-img{
    background:url('./images/169-1694321_cheese-pizza-cheese-pizza-png.png');
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
   
}
.pizza-img-tomato{
    background:url(./images/Base-Pizza-congelada-redonda.png);
    background-size:contain;
    background-position:center;
    background-repeat: no-repeat;
    width:400px;
    height:400px;
}
.pizza-small{
    width:300px;
    height:300px;
}
.mushrooms-small{
    height:125px;
    width:150px;
}
.pizza-medium{
    width:400px;
    height:400px;
}
.mushrooms-medium{
    height:200px;
    width:225px;
}
.pizza-large{
    width:500px;
    height:500px;
}
.mushrooms-large{
    height:250px;
    width:300px;
}
.build-pizza-image{
    position:relative;
}
.build-pizza-image img{
    position:absolute;
    top:0;
}
.build-pizza .mushrooms{
    top:15%;
    left:15%;
}
.total{
    display:flex;
    /* justify-content: space-around; */
}
.total button{
    margin-left:10px;
    padding:15px 30px;
    font-size:15px;
    background-color: #ADADAD;
    color:wheat;
}
.contacts h2{
    text-align: center;
    font-size: 3em;
}
.contact-form{
    width:60%;
    margin:0 auto;
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    padding-bottom:2%;
}
.contact-form label{
    display:block;
    font-size:2em;
}
.contact-form input{
    border: 1px solid #ADADAD;
}
.contact-form button{
    margin-left:10px;
    padding:5px 10px;
    font-size:15px;
    background-color: #FF8C42;
    color:wheat;
    margin-top:15px;
}
textarea{
    display:block;
    width:50%;
    height:75px;
    margin:0 auto;
}
.thank-you{
    color:#FF8C42;
    font-size:50px;
    text-align: center;
    margin:0;    
}
.wrapper.thank-you{
    height:95vh;
}
h1.thank-you{
    margin-top:20%;
}
.discount{
   position:fixed;
   background-color: rgba(255, 255, 255, 0.05);
   bottom:0;
   width:100vw;
   z-index: 2;
   text-align: center;
   display: none;
   justify-content: space-between;
   align-items: center;
   font-size:30px;
   color:#FF8C42;
}
.discount p {
    margin-left:40%;
}
.discount span{
    display:block;
    width:5%;
    font-size: 30px;
}
.discount span:hover{
    cursor: pointer;
    background-color: #ADADAD;
}
@media screen and (max-width:1024px) {
    header{
        font-size:15px;
        margin-bottom:20px;
    }
    header li{
        padding:3px 5px;
    }
    main h1{
        font-size:2.5em;
    }
    main h3{
        font-size:1.3em;
    }
    main button{
        padding:10px 20px;
        font-size:15px;
    }
    .main-wrapper{
        padding-top:10%;
    }
    .menu-image{
        display:none;
    }
    .menu-item h3{
        font-size:1.8em;
    }
    .menu-item p {
        font-size:1em;
    }
    .menu-wrapper{
        grid-template-columns: 1fr;
    }
    .build-pizza-wrapper{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .pizza-small{
        height:250px;
        width:250px;
    }
    .pizza-medium{
        height:325px;
        width:325px;
    }
    .pizza-large{
        height:400px;
        width:400px;
    }
    .mushrooms-small{
        height:75px;
        width:100px;
    }
    .mushrooms-medium{
        height:150px;
        width:175px;
    }
    .mushrooms-large{
        height:175px;
        width:200px;
    }
    .pizza-wrapper{
        width:90%;
        margin:20px 5%;
    }
    .build-pizza h3{
        font-size:1.4em;
    }
}
@media screen and (max-width:500px){
    .pizza-small{
        height:200px;
        width:200px;
    }
    .pizza-medium{
        height:250px;
        width:250px;
    }
    .pizza-large{
        height:300px;
        width:300px;
    }
    .mushrooms-small{
        height:75px;
        width:100px;
    }
    .mushrooms-medium{
        height:100px;
        width:125px;
    }
    .mushrooms-large{
        height:125px;
        width:150px;
    }
    .discount{
        font-size:15px;
    }
    .discount p {
        margin-left:30%;
    }
    .menu-descr{
        margin-left:5%;
    }
    nav ul{
        margin-left:0;
    }
}
.change-theme{
    position:fixed;
    top:90%;
    right:5%;
    width:50px;
    background-color: #151515;   
}
.change-theme img{
    width:100%;
}
.day-theme{
    background-color:rgba(255, 254, 254, 0.74);
}